In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [2]:
df = pd.read_csv('Клиентская база для анализа.csv')

In [5]:
df.head()

,ОБСУЖДЕНИЕ,Unnamed: 1,ЖДУ ОПЛАТУ,Unnamed: 3,ОПЛАЧЕН,Unnamed: 5,ВЫПОЛНЕН,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,ДАТА,ВРЕМЯ ДОСТАВКИ,АДРЕС,ЗАКАЗ,ИМЯ,ТЕЛЕФОН,ИНСТАГРАМ,ПОЧТА,ИТОГ,КОММЕНТАРИЙ
1,28.05,21:00-23:00,"Такая-то улица, такой-то дом,",1) связка шаров 12 штук (хром как на фото) \n2...,Мария,7 ХХХ-ХХ-ХХ,NaN,NaN,4850,Позвонить на моб. перед домофоном
2,02.06,8:00,"Такая-то улица, такой-то дом,","1) Колонны на вход (ярко зеленый, бирюза, тифф...",Аня,7 ХХХ-ХХ-ХХ,NaN,NaN,15490,Манифик Manifik (ОТМЕНА ЗАКАЗА ИЗ ЗА КОВИДА)
3,12.06,20:30,"Такая-то улица, такой-то дом,",1) 2 связки шаров состоящие из:\n-3 диско шаро...,Мария,7 ХХХ-ХХ-ХХ,NaN,NaN,7240,Парковку не стал учитывать
4,14.06,9:00-12:00,"Такая-то улица, такой-то дом,",1) 2 связки шаров состоящие из:\n-6 звёзд (зол...,Ирина,7 ХХХ-ХХ-ХХ,NaN,NaN,4100,NaN

In [6]:
df = df.drop(columns = ['ЖДУ ОПЛАТУ','Unnamed: 5','ВЫПОЛНЕН','Unnamed: 7'],axis = 1)

In [7]:
df.rename(columns = {'ОБСУЖДЕНИЕ' : 'ДАТА', 'Unnamed: 1' : 'ВРЕМЯ ДОСТАВКИ','Unnamed: 3' : 'ЗАКАЗ',
                     'ОПЛАЧЕН' : 'ИМЯ','Unnamed: 8' : 'ИТОГ','Unnamed: 9' : 'КОММЕНТАРИЙ'}, inplace = True)

In [8]:
df = df.drop(labels = [0],axis = 0)

In [9]:
df = df.reset_index()

In [10]:
df = df.drop('index',axis=1)

In [11]:
df['ДАТА'] = pd.concat([df['ДАТА'].iloc[0:124] + '.2021',
                           df['ДАТА'].iloc[125:] + '.2022'])

In [15]:
df['ДАТА'] = pd.to_datetime(df['ДАТА'], format='%d.%m.%Y')

In [17]:
np.where(df == '3030 руб')

(array([148], dtype=int64), array([4], dtype=int64))

In [18]:
df.loc[148]

ДАТА                                            2022-02-14 00:00:00
ВРЕМЯ ДОСТАВКИ                                                16:00
ЗАКАЗ             1) бабл 45 с мини шариками сердцами внутри , г...
ИМЯ                                                       Елизавета
ИТОГ                                                       3030 руб
КОММЕНТАРИЙ       Заказ супер срочный, не стал делать скидку, не...
Name: 148, dtype: object

In [19]:
df.loc[148, 'ИТОГ'] = 3030

In [20]:
df['ИТОГ'] = df['ИТОГ'].fillna('0')

In [21]:
df['ИТОГ'] = df['ИТОГ'].astype(str).astype(int)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ДАТА            243 non-null    datetime64[ns]
 1   ВРЕМЯ ДОСТАВКИ  242 non-null    object
 2   ЗАКАЗ           244 non-null    object
 3   ИМЯ             243 non-null    object
 4   ИТОГ            244 non-null    int32
 5   КОММЕНТАРИЙ     134 non-null    object
dtypes: datetime64[ns](1), int32(1), object(4)
memory usage: 10.6+ KB

In [25]:
df.to_csv('Чистый датафрейм.csv', index=False)